
.dropdown-toggle::after {
  display: none !important;
}

ul, ol{
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a:link, a:visited,  a:hover, a:active{
    text-decoration: none !important;
    color: inherit !important;
}

.main-footer{
  border-top: 0 !important;
}

.text-facebook{
  color: #3b5998 !important;
}

.text-instagram{
  color: #e4405f !important;
}

.text-x-twitter{
  color: #1da1f2 !important;
}

.text-linkedin{
  color: #0077b5 !important;
}
.text-youtube{
  color: #cd201f !important;
}
.text-twitch{
  color: #6441a5 !important;
}